/* Diseño de la pagina pricnipal del gerente */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://image.freepik.com/foto-gratis/resumen-desenfoque-y-gimnasio-de-fitness-defocused-para-el-fondo_1339-24814.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.btn10 {
    margin-left: 38%;
    margin-top: -1.5%;
    display: flex;
}

.botones-container {
    display: inline-block;
    margin: 0 10px;
    background-color: white;
    padding: 15px;
    height: 190px;
    width: 190px;
    text-align: center;
    margin-right: 10px;
    margin-left: 90px;
    border-radius: 25px;
    position: relative;
    /* Agregamos esta propiedad para posicionar el texto */
}

.botones-container:hover {
    background-color: #e0e2e4;
    transition: ease;
    transform: scale(1.045);
}

.botones-container p {
    position: absolute;
    /* Posicionamos el texto */
    bottom: 10px;
    /* Ajustamos la distancia desde la parte inferior */
    left: 0;
    /* Centramos horizontalmente */
    right: 0;
    /* Centramos horizontalmente */
    font-weight: bold;
    /* Opcional: para hacer el texto más visible */
    color: black;
    margin-top: 40px;
    margin-bottom: 10px;
}

.botones-container:hover {

    background-color: #e0e2e4;
    transition: ease;
    transform: scale(1.045)
}


.zoom-shadow img {
    transition: transform 0.3s ease-in;
    width: 170px;
    height: 170px;
}

.zoom-shadow img {
    transition: transform 0.3s ease-in;
    width: 170px;
    height: 170px;
}

.zoom-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50;
    transition: opacity 0.3s ease;
}



.zoom-shadow:hover::before {
    opacity: 0;
}

.contact-info p {
    margin: 5px 0;
}

.pie {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-top: 5%;

}

.fondo {
    background-image: url('images/Captura\ de\ pantalla\ 2024-03-26\ 191829.png');
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 150px;
    height: auto;
}

/* Fin del diseño pagina principal del gerente */

/* Estilo para el contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
}

/* Estilo para los contenedores de búsqueda y mostrar */
.container-busqueda,
.container-mostrar {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Otros estilos según tus necesidades */
.data-item {
    margin-bottom: 10px;
}

.container-busqueda {
    background-color: #f9f9f9;
}

.container-mostrar {
    background-color: #ffffff;
}

.boton-descargar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
