/* Diseño de la pagina pricnipal del miembro */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://image.freepik.com/foto-gratis/resumen-desenfoque-y-gimnasio-de-fitness-defocused-para-el-fondo_1339-24814.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.btn10{
    margin-left: 38%;
    margin-top: -1.5%;
    display: flex;
}
.botones-container {
    transform: scale;
    height: 80px; 
    display: inline-block; 
    margin: 0 10px; 
    background-color: white;
    padding: 15px;
    height: 190px;
    width: 190px;
    text-align: center;
    margin-right: 10px;
    margin-left: 90px;
    border-radius: 25px;
}

.botones-container:hover{

    background-color: #e0e2e4;
    transition: ease;
    transform: scale(1.045)
    
}


.zoom-shadow {
    margin: 10px;
    display: inline-flex;
    position: relative;
    overflow: hidden;   
    border-radius: 25px;
}

.zoom-shadow img {
    transition: transform 0.3s ease-in;
    width: 170px;
    height: 170px;
}

.zoom-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50;
    transition: opacity 0.3s ease;
}



.zoom-shadow:hover::before {
    opacity: 0;
}

.contact-info p {
    margin: 5px 0;
}

.pie {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-top: 5%;
    
}

.fondo {
    background-image: url('images/Captura\ de\ pantalla\ 2024-03-26\ 191829.png');
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 150px;
    height: auto;
}

/* Fin del diseño pagina principal del miembro */


/* Diseño de la seccion membresias */

.membresia-group img{
    height: 190px;
    width: 150px;
    margin-top: 15px;
    text-align: center;
   
}

.membresia-1{
    text-align: center;
    background-color: white;
    padding: 5px;
    margin-left: 60px;
    margin-right: 30px;
    border-radius: 20px;
    padding: 5%;
    margin-inline: 10px;
    
    
}

.membresia-group p{
    text-align: justify;
}

.membresia-group img:hover{
    background-color: #e0e2e4;
    transition: ease;
    transform: scale(1.06);
    
}
h2 {
    text-align: center;
    font-size: 50px;
}

h2 span , p span{
    background-color: white;
}

.imagen-con-texto {
    width: 30%;
    float: left;
    padding: 5px;
    text-align: center;
}

.imagen-con-texto img {
    width: 100%;
    height: auto;
}

.membresia{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.membresia-content{
    text-align: center;
}

.membresia-group img {
    border-radius: 50%;
}

.membresia-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.membresia-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
   
}

.membresia-1 img{
    width: 200px;
}

.membresia-img{
    position:absolute;
    top: 0;
    right: 0;
}

.membresia-1{
    padding: 0 25px;
    
}

.membresia-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.formulario { 
    width: 400px;
    padding: 16px;
    background-color: #f1f1f1;
    margin: 0 auto ;
    transform: translate(-1%, -9%); 
    border-radius: 20px;
}
.pie-3 {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 70px;
    text-align: center;
    margin-top: 2%;
    
}

.formulario input[type=text], .formulario input[type=date], .formulario input[type=number], .formulario select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.formulario input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type=submit]:hover {
    background-color: #45a049;
}


 /* Estilos para la sección de búsqueda */
 .busqueda-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
}

/* Estilos para los campos de entrada */
.busqueda-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de búsqueda */
.busqueda-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* Fin del diseño seccion membresias */


/* Diseño de la seccion diagnostico */
.general {
    width: 400px; 
    height: 400px; 
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: inline-flex;
    
    
}
.contenedor-1:hover{
    transition: ease-in-out;
    transform: scale(1.06);
    
}
.contenedor-2:hover{

    
    transition: ease;
    transform: scale(1.06);
    
}

.pie-2 {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-top: 24%;
    
}

.boton {
    width: 200px;
    height: 200px;
    margin: 15px;   
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.imagen {
    width: 170px;
    height: 170px;
}

.texto {
   font-size: 18px;
}
/* Fin del diseño seccion diagnostico */


/* Diseño de la seccion entrenamiento */
.container-video {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.video {
    width: 100%;
    margin-bottom: 20px;
}
/* Fin del diseño seccion entrenamiento */